# <center>  More on Data Preperation with Pandas </center>

## Agenda 

* [Setting index in a dataframe](#set_index) 
* [Resetting index in a dataframe](#reset_index)

<a id='set_index'> </a>

### Setting index in a dataframe [[Ref.]](https://pandas.pydata.org/pandas-docs/stable/generated/pandas.DataFrame.set_index.html)

In [26]:
import pandas as pd

df = pd.DataFrame({'Salary': ['80K','50K', '60K', '95K'],
                   'Name': ['Mike', 'Dave', 'Sara', 'Doug'],
                   'Birth':[1982, 1985, 1973, 1970]})
df.head()

  Salary  Name  Birth
0    80K  Mike   1982
1    50K  Dave   1985
2    60K  Sara   1973
3    95K  Doug   1970

In [27]:
df.set_index('Name', inplace=True)

df.head()

     Salary  Birth
Name
Mike    80K   1982
Dave    50K   1985
Sara    60K   1973
Doug    95K   1970

<a id='reset_index'> </a>

### Resetting index in a dataframe

In [31]:
df.reset_index(inplace=True)   

df.head()

ValueError: cannot insert level_0, already exists